.terminal table.input-line tbody {
  width: 100%;
}

.item {
  align-items: center;
  display: inline-flex;
  height: 12pt;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.item .item-icon {
  margin-right: 4px;
  height: 12pt;
  width: 12pt;
}

.terminal-line, .input-line {
  align-content: center;
  display: flex;
  height: 12pt;
  line-height: 12pt;
  list-style: none;
  white-space: nowrap;
}

.legendary { color: #4c139d; }
.ascended { color: #fb3e8d; }
.exotic { color: #ffa405; }
.rare { color: #fcd00b; }
.masterwork { color: #1a9306; }
.fine { color: #62a4da; }
.basic { color: #fff; }
.junk { color: #aaa; }
